<div class="container">
    <form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="withdraw">Withdraw what amount?</label>
                    <input id="withdraw" type="number" placeholder="$$$$.$$" class="form-control" formControlName="withdraw">
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning" type="submit">Make Withdraw</button>
            </div>
        </div>
    </form>
</div>